absl-py==0.5.0
astor==0.7.1
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
boto==2.49.0
boto3==1.9.50
botocore==1.12.50
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
gdown==3.6.0
gensim==3.6.0
grpcio==1.15.0
h5py==2.8.0
idna==2.7
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
jmespath==0.9.3
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==2.2.3
ml-metrics==0.1.4
mlxtend==0.14.0
mock==2.0.0
networkx==2.2
ninja==1.8.2.post2
nltk==3.3
numpy==1.15.2
opencv-python==3.4.4.19
pandas==0.23.4
pathlib==1.0.1
pathlib2==2.3.2
pbr==4.2.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pkg-resources==0.0.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.1
queuelib==1.5.0
requests==2.20.1
s3transfer==0.1.13
scandir==1.9.0
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.7.1
subprocess32==3.5.2
tensorboard==1.11.0
tensorboardX==1.4
tensorflow-gpu==1.11.0
termcolor==1.1.0
tifffile==2018.11.28
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.28.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1